<h2>{{month-string date.season}} Calendar:</h2>
<table class="table table-dark">
  <thead class="text-center">
    <tr>
      <th scope="col">Mon</th>
      <th scope="col">Tue</th>
      <th scope="col">Wed</th>
      <th scope="col">Thu</th>
      <th scope="col">Fri</th>
      <th scope="col">Sat</th>
      <th scope="col">Sun</th>
    </tr>
  </thead>
  <tbody class="text-right">
    <tr>
      <th scope="col" class={{current-date date.day 1}}>1</th>
      <th scope="col" class={{current-date date.day 2}}>2</th>
      <th scope="col" class={{current-date date.day 3}}>3</th>
      <th scope="col" class={{current-date date.day 4}}>4</th>
      <th scope="col" class={{current-date date.day 5}}>5</th>
      <th scope="col" class={{current-date date.day 6}}>6</th>
      <th scope="col" class={{current-date date.day 7}}>7</th>
    </tr>
    <tr>
      <th scope="col" class={{current-date date.day 8}}>8</th>
      <th scope="col" class={{current-date date.day 9}}>9</th>
      <th scope="col" class={{current-date date.day 10}}>10</th>
      <th scope="col" class={{current-date date.day 11}}>11</th>
      <th scope="col" class={{current-date date.day 12}}>12</th>
      <th scope="col" class={{current-date date.day 13}}>13</th>
      <th scope="col" class={{current-date date.day 14}}>14</th>
    </tr>
    <tr>
      <th scope="col" class={{current-date date.day 15}}>15</th>
      <th scope="col" class={{current-date date.day 16}}>16</th>
      <th scope="col" class={{current-date date.day 17}}>17</th>
      <th scope="col" class={{current-date date.day 18}}>18</th>
      <th scope="col" class={{current-date date.day 19}}>19</th>
      <th scope="col" class={{current-date date.day 20}}>20</th>
      <th scope="col" class={{current-date date.day 21}}>21</th>
    </tr>
    <tr>
      <th scope="col" class={{current-date date.day 22}}>22</th>
      <th scope="col" class={{current-date date.day 23}}>23</th>
      <th scope="col" class={{current-date date.day 24}}>24</th>
      <th scope="col" class={{current-date date.day 25}}>25</th>
      <th scope="col" class={{current-date date.day 26}}>26</th>
      <th scope="col" class={{current-date date.day 27}}>27</th>
      <th scope="col" class={{current-date date.day 28}}>28</th>
    </tr>
  </tbody>
</table>
