<div class="col-sm">
  <h2>project: </h2>
  {{#if project.founded}}repairing {{project.name}}{{else}}building a {{project.type}} {{/if}}({{construction-time project (settlement-output home "production")}})
</div>
