<div class="btn-group float-right">
  <LinkTo class="btn" @route="{{parent}}.{{if selected selected items.[0]}}">{{if selected selected items.[0]}}</LinkTo>
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{action "toggleDropdown"}} />
  <div class="dropdown-menu navigation-dropdown {{if this.show "show"}}" aria-labelledby="dropdownMenuButton">
    {{#each items as |item|}}
      <a {{action "select" item}}><LinkTo class="dropdown-item" @route="{{parent}}.{{item}}">{{item}}</LinkTo></a>
    {{/each}}
  </div>
</div>
