<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">{{building.cutscene}}</h5>
      </div>
      <div class="modal-body">
        {{#if firstVisitHome}}
          <p>You arrive at the {{player.town.status}} of {{player.town.name}} on a {{weather-description weather player.date.hour}} {{hour-string player.date.hour}}.</p>
          <p>Your new home is a {{building-reputation building.reputation}} property close to the {{player.town.status}} hall. It looks to be in {{building-condition building.health}} condition and has views of the {{lowercase player.town.tiles.0.terrain.name}}.</p>
          <p>Once you're settled in, you notice a message in your inbox.</p>
        {{/if}}
        {{#if firstVisitHall}}
          <p>It's {{hour-string player.date.hour}} when you decide to visit the {{player.town.status}} hall. It's {{building-description building player.date}}.</p>
          <p>{{owner.firstName}} {{owner.lastName}}, the local chancellor, is waiting for you in the reception and is eager to show you around.</p>
          <p>{{capitalize (pronoun owner)}} gives you a tour of the various departments in the building, including the town planning and the land registry offices.</p>
        {{/if}}
        {{#if firstVisitTavern}}
          <p>The local tavern is known as {{building.name}}. It's {{building-description building player.date}}.</p>
          <p>You're greeted at the bar by {{character-description owner (calculate-age owner.dateOfBirth player.date)}}. They pour you a tankard of mead and introduce themself as {{owner.firstName}} {{owner.lastName}}, the owner of the tavern.</p>
          <p>{{owner.firstName}} informs you that here is the best place to meet wandering adventurers and hear the latest rumours from settlements near and far.</p>
        {{/if}}
        {{#if firstVisitBarracks}}
          <p>You decide to take a trip to the barracks and meet the heroes of this {{player.town.status}}.</p>
          <p>The local sheriff is {{character-description owner (calculate-age owner.dateOfBirth player.date)}} named {{owner.firstName}} {{owner.lastName}}. {{capitalize (pronoun owner)}} greets you at the entrance to the barracks and shows you around.</p>
          <p>Here you can meet the heroes who have pledged to protect {{player.town.name}} and discuss battle tactics with them.</p>
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" {{action "close" building}}>Okay</button>
      </div>
    </div>
  </div>
</div>
