<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">loading...</h3>
        <br>
        <p>tip: the higher your settlement's production the faster it can construct and repair buildings.</p>
      </div>
    </div>
  </div>
</div>
