{{yield}}
<form {{action "authenticate" on="submit"}}>
  {{input id="username" placeholder="username" value=username}}
  {{input id="password" placeholder="********" type="password" value=password}}
  <p><button class="btn mt-3" type="submit">login</button></p>
  {{#if loginError}}
    <span class="alert alert-danger">{{loginError}}</span>
  {{/if}}
  <p>{{#link-to "signup"}}create new player{{/link-to}}</p>
</form>
