<div class="row ml-2 mr-3 mt-2">
  <div class="col-sm text-center">
    <h2>{{subject}}</h2>
    <hr>
  </div>
</div>
<div class="row ml-4 mr-4 d-block">
  {{yield}}
</div>
<div class="row fixed-bottom ">
  <div class="col-md text-right">
    <h2><LinkTo @route="inbox" class="lightGreen m-5">&lt; back</LinkTo></h2>
  </div>
</div>
