{{yield}}
<nav class="navbar inverted navbar-expand-lg navbar-light justify-content-between">
  <button class="btn" id="menu-toggle" {{action "toggleMenu"}}>
    <span class="navbar-toggler-icon"></span>
  </button>
  {{#if player.date}}
    <LinkTo @route="calendar" class="black"><Time @date={{player.date}}/></LinkTo>
  {{else}}
    <h2>Mayor's Quest</h2>
  {{/if}}
  {{#if session.isAuthenticated}}
    {{#if player.isLoaded}}
      <LinkTo @route="rest" class="btn btn-link black">Rest</LinkTo>
    {{else}}
      &nbsp;
    {{/if}}
  {{else}}
    <LinkTo @route="login" class="btn btn-link black">login</LinkTo>
  {{/if}}
</nav>
