<div class="row text-center">
  <header class="col-sm">
    <h1>{{page.name}}</h1>
  </header>
</div>
{{#if navItems}}
  <div class="row float-right">
    <nav class="col-sm">
      <DropdownNavigation @parent={{route}} @view={{view}} @items={{navItems}}/>
    </nav>
  </div>
{{/if}}
<div class="row">
  <div class="col-sm">
    <hr>
  </div>
</div>
