<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">new building</h5>
      </div>
      <div class="modal-body" style="min-height: 350px;">
        <div class="row">
          {{#each buildings as |building|}}
            <div class="col-sm">
              <article {{action "select" building}} class={{if (is-selected building selected) "lightGreen"}}>{{capitalize building.formType}}</article>
            </div>
          {{/each}}
        </div>
        <hr>
        <div class="row m-2">
          <div class="col-sm">
            <p class="text-right">{{bonuses}}</p>
            <p>{{if selected.description selected.description ""}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm {{if selected "" "disabled"}}" {{action "build" selected settlement chancellor}}>build</button>
        <button type="button" class="btn btn-sm" {{action "close"}}>cancel</button>
      </div>
    </div>
  </div>
</div>
