<div id="sidebar-wrapper">
  <div class="sidebar-heading d-flex">&nbsp;</div>
  <div class="list-group list-group-flush">
    {{#if player.isLoaded}}
      {{#link-to "home" invokeAction=(action "toggleMenu")}}Home{{/link-to}}
      {{#link-to "inbox" invokeAction=(action "toggleMenu")}}
        Inbox
        {{#if player.mail}}
          ({{player.mail}})
        {{/if}}
      {{/link-to}}
      {{#link-to "journal" invokeAction=(action "toggleMenu")}}Journal{{/link-to}}
      <hr>
      {{#link-to "hall" invokeAction=(action "toggleMenu")}}{{capitalize player.town.status}} Hall{{/link-to}}
      {{#link-to "tavern" invokeAction=(action "toggleMenu")}}Tavern{{/link-to}}
      {{#link-to "barracks" invokeAction=(action "toggleMenu")}}Barracks{{/link-to}}
    {{/if}}
    <hr>
    {{#if session.isAuthenticated}}
      <a href="/"{{action "invalidateSession"}}>Quit</a>
    {{else}}
      {{#link-to "about" invokeAction=(action "toggleMenu")}}About{{/link-to}}
      {{#link-to "login" invokeAction=(action "toggleMenu")}}Login{{/link-to}}
      {{#link-to "signup" invokeAction=(action "toggleMenu")}}Signup{{/link-to}}
    {{/if}}
  </div>
</div>
