<table class=table table-sm map>
  <tbody class=text-center small>
    <tr>
      <th {{action "setTile" 24}} class={{if (is-selected selected 24) "inverted"}}>
        <SingleTile @tile={{tiles.[24]}} @resource={{tiles.[24].resource}} @terrain={{tiles.[24].terrain}} @building={{tiles.[24].building}} />
      </th>
      <th {{action "setTile" 20}} class={{if (is-selected selected 20) "inverted"}}>
        <SingleTile @tile={{tiles.[20]}} @resource={{tiles.[20].resource}} @terrain={{tiles.[20].terrain}} @building={{tiles.[20].building}} />
      </th>
      <th {{action "setTile" 9}} class={{if (is-selected selected 9) "inverted"}}>
        <SingleTile @tile={{tiles.[9]}} @resource={{tiles.[9].resource}} @terrain={{tiles.[9].terrain}} @building={{tiles.[9].building}} />
      </th>
      <th {{action "setTile" 13}} class={{if (is-selected selected 13) "inverted"}}>
        <SingleTile @tile={{tiles.[13]}} @resource={{tiles.[13].resource}} @terrain={{tiles.[13].terrain}} @building={{tiles.[13].building}} />
      </th>
      <th {{action "setTile" 21}} class={{if (is-selected selected 21) "inverted"}}>
        <SingleTile @tile={{tiles.[21]}} @resource={{tiles.[21].resource}} @terrain={{tiles.[21].terrain}} @building={{tiles.[21].building}} />
      </th>
    </tr>
    <tr>
      <th {{action "setTile" 19}} class={{if (is-selected selected 19) "inverted"}}>
        <SingleTile @tile={{tiles.[19]}} @resource={{tiles.[24].resource}} @terrain={{tiles.[24].terrain}} @building={{tiles.[24].building}} />
      </th>
      <th {{action "setTile" 8}} class={{if (is-selected selected 8) "inverted"}}>
        <SingleTile @tile={{tiles.[8]}} @resource={{tiles.[8].resource}} @terrain={{tiles.[8].terrain}} @building={{tiles.[8].building}} />
      </th>
      <th {{action "setTile" 1}} class={{if (is-selected selected 1) "inverted"}}>
        <SingleTile @tile={{tiles.[1]}} @resource={{tiles.[1].resource}} @terrain={{tiles.[1].terrain}} @building={{tiles.[1].building}} />
      </th>
      <th {{action "setTile" 5}} class={{if (is-selected selected 5) "inverted"}}>
        <SingleTile @tile={{tiles.[5]}} @resource={{tiles.[5].resource}} @terrain={{tiles.[5].terrain}} @building={{tiles.[5].building}} />
      </th>
      <th {{action "setTile" 14}} class={{if (is-selected selected 14) "inverted"}}>
        <SingleTile @tile={{tiles.[14]}} @resource={{tiles.[14].resource}} @terrain={{tiles.[14].terrain}} @building={{tiles.[14].building}} />
      </th>
    </tr>
    <tr>
      <th {{action "setTile" 12}} class={{if (is-selected selected 12) "inverted"}}>
        <SingleTile @tile={{tiles.[12]}} @resource={{tiles.[12].resource}} @terrain={{tiles.[12].terrain}} @building={{tiles.[12].building}} />
      </th>
      <th {{action "setTile" 4}} class={{if (is-selected selected 4) "inverted"}}>
        <SingleTile @tile={{tiles.[4]}} @resource={{tiles.[4].resource}} @terrain={{tiles.[4].terrain}} @building={{tiles.[4].building}} />
      </th>
      <th {{action "setTile" 0}} class={{if (is-selected selected 0) "inverted"}}>
        {{home.name}}
      </th>
      <th {{action "setTile" 2}} class={{if (is-selected selected 2) "inverted"}}>
        <SingleTile @tile={{tiles.[2]}} @resource={{tiles.[2].resource}} @terrain={{tiles.[2].terrain}} @building={{tiles.[2].building}} />
      </th>
      <th {{action "setTile" 10}} class={{if (is-selected selected 10) "inverted"}}>
        <SingleTile @tile={{tiles.[10]}} @resource={{tiles.[10].resource}} @terrain={{tiles.[10].terrain}} @building={{tiles.[10].building}} />
      </th>
    </tr>
    <tr>
      <th {{action "setTile" 18}} class={{if (is-selected selected 18) "inverted"}}>
        <SingleTile @tile={{tiles.[18]}} @resource={{tiles.[18].resource}} @terrain={{tiles.[18].terrain}} @building={{tiles.[18].building}} />
      </th>
      <th {{action "setTile" 7}} class={{if (is-selected selected 7) "inverted"}}>
        <SingleTile @tile={{tiles.[7]}} @resource={{tiles.[7].resource}} @terrain={{tiles.[7].terrain}} @building={{tiles.[7].building}} />
      </th>
      <th {{action "setTile" 3}} class={{if (is-selected selected 3) "inverted"}}>
        <SingleTile @tile={{tiles.[3]}} @resource={{tiles.[3].resource}} @terrain={{tiles.[3].terrain}} @building={{tiles.[3].building}} />
      </th>
      <th {{action "setTile" 6}} class={{if (is-selected selected 6) "inverted"}}>
        <SingleTile @tile={{tiles.[6]}} @resource={{tiles.[6].resource}} @terrain={{tiles.[6].terrain}} @building={{tiles.[6].building}} />
      </th>
      <th {{action "setTile" 15}} class={{if (is-selected selected 15) "inverted"}}>
        <SingleTile @tile={{tiles.[15]}} @resource={{tiles.[15].resource}} @terrain={{tiles.[15].terrain}} @building={{tiles.[15].building}} />
      </th>
    </tr>
    <tr>
      <th {{action "setTile" 23}} class={{if (is-selected selected 23) "inverted"}}>
        <SingleTile @tile={{tiles.[23]}} @resource={{tiles.[23].resource}} @terrain={{tiles.[23].terrain}} @building={{tiles.[23].building}} />
      </th>
      <th {{action "setTile" 17}} class={{if (is-selected selected 17) "inverted"}}>
        <SingleTile @tile={{tiles.[17]}} @resource={{tiles.[17].resource}} @terrain={{tiles.[17].terrain}} @building={{tiles.[17].building}} />
      </th>
      <th {{action "setTile" 11}} class={{if (is-selected selected 11) "inverted"}}>
        <SingleTile @tile={{tiles.[11]}} @resource={{tiles.[11].resource}} @terrain={{tiles.[11].terrain}} @building={{tiles.[11].building}} />
      </th>
      <th {{action "setTile" 16}} class={{if (is-selected selected 16) "inverted"}}>
        <SingleTile @tile={{tiles.[16]}} @resource={{tiles.[16].resource}} @terrain={{tiles.[16].terrain}} @building={{tiles.[16].building}} />
      </th>
      <th {{action "setTile" 22}} class={{if (is-selected selected 22) "inverted"}}>
        <SingleTile @tile={{tiles.[22]}} @resource={{tiles.[22].resource}} @terrain={{tiles.[22].terrain}} @building={{tiles.[22].building}} />
      </th>
    </tr>
  </tbody>
</table>
