<div class="col-sm p-3 inverted">
  <u>{{if tile.active "tile details:" "total output:"}}</u>
  <ul>
    {{#if tile.active}}
      <ListItem @label="food" @value={{food}}/>
      <ListItem @label="production" @value={{production}}/>
      <ListItem @label="gold" @value={{gold}}/>
      <ListItem @label="culture" @value={{culture}}/>
      <ListItem @label="resource" @value={{resource}}/>
      <ListItem @label="terrain" @value={{terrain}}/>
      {{#if tile.owner}}
        <li>owner: <LinkTo @route="character" @model={{tile.owner}} class="float-right">{{owner.firstName}} {{owner.lastName}}</LinkTo></li>
        <li>building: <span class="float-right">{{improvement.type}}</span></li>
      {{else}}
        <ListItem @label="owner" @value="none"/>
      {{/if}}
    {{else}}
      <ListItem @label="food" @value={{settlement-output settlement "food"}}/>
      <ListItem @label="production" @value={{settlement-output settlement "production"}}/>
      <ListItem @label="gold" @value={{settlement-output settlement "gold"}}/>
      <ListItem @label="culture" @value={{settlement-output settlement "culture"}}/>
    {{/if}}
  </ul>
</div>
