html, body {
  background-color: black;
  color: green;
  font-family: 'VT323', monospace;
  overflow-x: hidden;
  line-height: 1;
  font-size: 2.5vh;
  scrollbar-color: green black;
  scrollbar-width: thin;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre {
  font-size: 1vh !important;
}

/* NAVIGATION */

#sidebar-wrapper {
  background-color: green !important;
  color: black;
  min-height: 100vh;
  line-height: 2rem;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 3.5vh;
}

#sidebar-wrapper .list-group {
  width: 10rem;
}

#sidebar-wrapper .list-group a {
  color: black;
  font-size: 3vh;
  margin-left: 1vh;
}

#sidebar-wrapper .list-group a:hover {
  color: LightGreen;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* END NAVIGATION*/

/* BOOSTRAP CUSTOMIZATION */

.info-box {
  border: 4px outset green;
  min-width: 240px;
  max-width: 50%;
}

.info-box .progress {
  width: 95%;
  margin: 0 auto;
  border: 4px inset darkGreen;
  border-radius: 0px;
}

.btn-group a:visited {
  color: black;
}

.dropdown-item.active {
  color: lightGreen;
  background-color: green;
}

.btn:hover {
  color: LightGreen;
  text-decoration: none;
}

.disabled:hover {
  color: black;
}

.card {
  background: none !important;
}

.card-header {
  background: none !important;
  text-align: center !important;
}

.inverted {
  background-color: green;
  color: black;
}
/* END BOOTSTRAP CUSTOMIZATION */

a {
  color: LightGreen;
  text-decoration: none;
}
a:hover {
  color: LightGreen;
  text-decoration: none;
}
a:visited {
  color: DarkGreen;
  text-decoration: none;
}
.btn {
  border-radius: 0px;
  border-style: outset;
  border-width: 2px;
  background-color: green;
  color: black;
}

.btn-add {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  line-height: .5em;
  font-size: 4em;
  margin-right: 4em;
}

.btn-primary {
    color: black;
    background-color: green;
    border-color: green;
}

.btn-primary:hover {
    color: black;
    background-color: green;
    border-color: green;
}

.btn:focus,.btn:active {
   color: black;
   background-color: green;
   border-color: green;
   outline: none !important;
   box-shadow: none;
}

.alert-danger {
  background-color: black;
  color: red;
  border-radius: 0px;
  border-style: outset;
  border-width: 2px;
  border-color: red;
}

.center {
  text-align: center;
}

.dialogue {
  margin: 20% 25%;
  text-align: center;
}

.warning {
  background-color: red;
  color: black;
}

.error {
  color: red;
}

.table {
  color: green;
}

.table thead th {
  overflox-x: auto !important;
  border-bottom: 2px dashed green;
  position: sticky; top: 0;
}

.table td, .table th {
  overflox-x: auto !important;
  border-top: 0px;
  vertical-align: middle;
}

#dropdownMenuButton {
  border: 0px;
}

.ember-text-view {
  color: darkGreen;
  border-width: 0px;
}

.navigation-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100%;
  padding: 0;
  margin: 0 0 0;
  font-size: 1rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: green;
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.navigation-dropdown .dropdown-item:hover {
  background-color: darkGreen;
  color: lightGreen;
}

.map {
  border-top: 2px;
  margin: 0 auto;
  height: 640px;
  width: 640px;
}

.map td, .map th {
  border-top: 4px dashed;
  min-height: 128px;
  min-width: 128px;
  max-height: 128px;
  max-width: 128px;
  overflow: hidden;
  vertical-align: middle;
  border-style: dashed;
  overflow-x: hidden;
}

.red {
  color: black;
  background: red;
  border-color: red !important;
}

.black:visited {
  color: black;
}

.black:hover {
  color: LightGreen;
}

.lightGreen {
  color: LightGreen !important;
}

.darkGreen {
  color: DarkGreen !important;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:10%;
   width:100%;
   text-align: center;
   background: black;
}

.fade:not(.show) {
    opacity: 100;
}

.modal {
  display: inline;
}

.modal-content {
    background-color: black;
    background-clip: padding-box;
    border: 4px;
    border-radius: 0px;
    border-color: green;
    border-style: outset;
  }

.modal-header {
    border-bottom: 0px;
    background-color: green;
    color: black;
    padding: 0rem 1rem;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal-footer {
    border-top: 0px;
}

/* INPUTS */

input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 95%;
  margin: 10px auto 10px auto;
  overflow: hidden;
  border: 4px dashed green;
  font: normal 2em/normal VT323, monospace;
  color: #008000;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  background: #000000;
}
input:focus {
    border-color: green;
}
input[type="submit"] {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 25%;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  font: normal 3em/normal VT323, monospace;
  background: #008000;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  color: #000;
}
/* Progress Bar */

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  border: none;
  border-radius: 0px !important;
  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-bar{ background-color: black !important;}
progress[value]::::-webkit-progress-value{ background-color: green;}
progress[value]::-moz-progress-bar { background-color: green;}

.progress {
  overflow: visible !important;
  background-color: black !important;
}

/* Helpers */

.hidden { display: none; }

/* Table */

.table-dark {
  background-color: black;
  color: green;
}

.table-dark thead th {
  border-top: 0px;
}

.table-dark th {
  border-top: 0px;
}

.table-dark th, .table-dark td, .table-dark thead th {
  border-color: green;
}

::-webkit-scrollbar {
background: transparent;
}

pre {
  color: green;
  overflow: hidden;
  font-size: small;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
   border-top: 4px dashed green;
}

ul {
  list-style: none;
}

form {
  margin: 20% auto;
  text-align: center;
  max-width: 500px;
}

article {
  text-align: center;
  margin: 1% auto;
  min-width: 100px;
  max-width: 600px;
  border: 5px;
  border-color: green;
  border-style: outset;
  color: black;
  background: green;
}

article:hover {
  border-color: LightGreen;
  color: LightGreen;
}
