<p>It's {{hour-string player.date.hour}} when you decide to visit the {{player.town.status}} hall. It's {{building-description hall player.date}}.</p>
<p>{{owner.firstName}} {{owner.lastName}}, the local chancellor, is waiting for you in the reception and is eager to show you around.</p>
<p>{{capitalize (pronoun owner)}} gives you a tour of the various departments in the building, including the town planning and the land registry offices.</p>
