  <h2>overview:</h2>
  <div class="row text-nowrap">
    <div class="col-sm m-2">
      <ul>
        <li>population: {{number home.population}}</li>
        <li>status: {{home.status}}</li>
        <li>founded: {{number home.founded}}</li>
        <li>reputation: {{reputation-string home.reputation}}</li>
      </ul>
    </div>
    <div class="col-sm m-2">
      <ul>
        <li>county: <LinkTo @route="county" @model={{home.county.id}}>{{home.county.name}}</LinkTo></li>
        <li>region: <LinkTo @route="region" @model={{home.region.id}}>{{home.region.name}}</LinkTo></li>
        <li>terrain: {{home.tiles.0.terrain.name}}</li>
        <li>climate: {{home.region.climate.name}}</li>
      </ul>
    </div>
  </div>
{{#if home.project}}
  <div class="row">
    <div class="col-sm m-2">
      <h2>current project:</h2>
      <CurrentProject @home={{home}} @project={{home.project}}/>
    </div>
  </div>
{{/if}}
