{{#if planBuilding}}
  <PlanBuilding
    @buildings={{availableBuildings}}
    @active={{planBuilding}}
    @settlement={{home}}
    @chancellor={{chancellor}}
    @sidebar={{application.sidebar}}
  />
{{/if}}
{{#if home.project}}
  <div class="row">
    <div class="col-sm">
      <h2>Current Project:</h2>
      <CurrentProject @home={{home}} @project={{home.project}}/>
    </div>
  </div>
{{/if}}
<h2 class="m-1">Buildings: </h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Condition</th>
      <th scope="col">Built</th>
      <th scope="col">Owner</th>
      <th scope="col">Reputation</th>
    </tr>
  </thead>
  <tbody>
    {{#each buildings as |building|}}
      <tr {{action "select" building}}>
        <td class={{if (is-selected selected building) "lightGreen"}}>{{building.name}}</td>
        <td class={{if (is-selected selected building) "lightGreen"}}>{{building-condition building.health}}</td>
        <td class={{if (is-selected selected building) "lightGreen"}}>{{if building.founded building.founded "???"}}</td>
        <td class={{if (is-selected selected building) "lightGreen"}}><LinkTo @route="character" @model={{building.owner.id}}>{{building.owner.firstName}} {{building.owner.lastName}}</LinkTo></td>
        <td class={{if (is-selected selected building) "lightGreen"}}>{{building-reputation building.reputation}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="row m-3">
  <div class="col-sm text-center">
    {{#if home.project}}
      <button class="btn btn-sm m-1 disabled">new building</button>
    {{else}}
      <button class="btn btn-sm m-1" {{action "newBuilding"}}>new building</button>
    {{/if}}
    {{#if repairable}}
      {{#if home.project}}
        <button class="btn btn-sm m-1 disabled">repair</button>
      {{else}}
        <button class="btn btn-sm m-1" {{action "repair" selected home chancellor}}>repair</button>
      {{/if}}
    {{else}}
      <button class="btn btn-sm m-1 disabled">repair</button>
    {{/if}}
    {{#if demolishable}}
      <button class="btn btn-sm m-1" {{action "demolish"}}>demolish</button>
    {{else}}
      <button class="btn btn-sm m-1 disabled">demolish</button>
    {{/if}}
  </div>
</div>
