<div class="row">
  <aside class="col-sm p-3">
    <TileDetails @tiles={{home.tiles}} @settlement={{home}} @selected={{selected}}/>
  </aside>
  <section class="col-sm p-3">
    <TileMap @home={{home}} @tiles={{home.tiles}} @selected={{selected}}/>
  </section>
</div>
