{{yield}}
<div class="col-sm m-3">
  <label>bank balance: {{currency home.finances.[0].balance}}</label>
  {{#let (get-points) as |points|}}
    {{line-graph
      points=growth
      strokeWidth=2
      type="line"
      smoothness=0
      colors="Green"
      animation=false
      animationDuration=3500
      animationTimingFunction="ease-in"
      width="100%"
      height="100%"
      padding=10
    }}
  {{/let}}
</div>
