<p>The local tavern is known as {{building.name}}. It's {{building-description building player.date}}.</p>
<p>You're greeted at the bar by {{character-description owner (calculate-age owner.dateOfBirth player.date)}}. They pour you a tankard of mead and introduce themself as {{owner.firstName}} {{owner.lastName}}, the owner of the tavern.</p>
<p>{{owner.firstName}} informs you that here is the best place to meet wandering adventurers and hear the latest rumours from settlements near and far.</p>
