<p>You decide to take a trip to the barracks and meet the heroes of this {{player.town.status}}.</p>
<p>The local sheriff is {{character-description owner (calculate-age owner.dateOfBirth player.date)}} named {{owner.firstName}} {{owner.lastName}}. {{capitalize (pronoun owner)}} greets you at the entrance to the barracks and shows you around.</p>
<p>Here you can meet the heroes who have pledged to protect {{player.town.name}} and discuss battle tactics with them.</p>
