<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mayor's Quest</title>
    <meta name="description" content="RPG management sim set in a randomly generated world.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <!-- Stylesheets -->
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/mayors-quest.css">

    <!-- Custom fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=VT323" />
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/mayors-quest.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
