<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>I'm happy to approve your proposal for the construction of a {{project.type}}.</p>
  <p>The work is expected to be completed on the <Time class="d-inline" @date={{completion-date project.cost (settlement-output settlement "production") mail.date}}/></p>.
  <p>I'll start searching for a suitable {{profession}} to run the operations right away.</p>
  <p>Yours faithfully,</p>
  <p>Chancellor <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
