<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>I'm happy to announce the construction of a {{project.type}} is now complete.</p>
  <p>The work is expected to take around {{construction-time project (settlement-output settlement 'production')}} to complete.</p>
  <p>I will start searching for a suitable {{profession}} to run the operations right away.</p>
  <p>Yours faithfully,</p>
  <p>Chancellor <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
