<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>I'm afraid I'm unable to approve the construction of a new building at this time.</p>
  <p>We simply can't afford the cost of maintaining any more buildings until we clear our debts.</p>
  <p>Yours faithfully,</p>
  <p>Chancellor <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
