<div class="row ml-3 mr-3 mt-3">
  <div class="col-sm text-center">
    <h1>{{player.username}}'s Inbox</h1>
    <hr>
  </div>
</div>
<div class="row ml-3 mr-3">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col-sm">Sender</th>
        <th scope="col-sm">Subject</th>
        <th scope="col-sm">Received</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedMail as |message|}}
        <tr {{action "read" message}}>
          <td class={{if message.unread "lightGreen" "darkGreen"}}><LinkTo @route="character" @model={{message.sender.id}}>{{message.sender.firstName}} {{message.sender.lastName}}</LinkTo></td>
          <td class={{if message.unread "lightGreen" "darkGreen"}}><LinkTo @route="inbox.{{message.content}}" @model={{message.id}}>{{message.subject}}</LinkTo></td>
          <td class={{if message.unread "lightGreen" "darkGreen"}}>{{date-from-now this.player.date message.date}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
