<MessageContents @subject={{mail.subject}}>
  <p>Greetings {{username}},</p>
  <p>I just wanted to introduce myself as the new {{sender.profession}} in {{settlement.name}}.</p>
  {{#if (is-selected profession "pimp")}}
    <p>
      I'm sure {{building.name}} will be a great success here in this {{settlement.status}}.
      We'll do our best to keep the noise to a sensible level.
    </p>
  {{/if}}
  {{#if (is-selected profession "acolyte")}}
    <p>
      It's important to pay our respects to the ancestors as they watch over us.
      I'm sure the new shrine will bring good fortune to {{settlement.name}}.
    </p>
  {{/if}}
  {{#if (is-selected profession "librarian")}}
    <p>
      I have acquired many intriguing volumes and rare editions during my journeys.
      The new library you've built will be a fitting home for them.
    </p>
  {{/if}}
  <p>If you need anything, I'll most likely be over at the {{building.type}} by the time you get this.</p>
  <p>Yours faithfully,</p>
  <p><LinkTo @route="character" @model={{sender.id}}>{{sender.firstName}} {{sender.lastName}}</LinkTo></p>
</MessageContents>
