<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>I've received your proposal to repair the {{project.type}} and granted it my approval.</p>
  <p>I agree that {{project.name}} is vital to our community and everybody will be glad to see it fixed up.</p>
  <p>Yours faithfully,</p>
  <p>Chancellor <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
