<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>Just wanted to thank you for your support in repairing {{project.name}}.</p>
  <p>The workers did a great job and everything looks like new.</p>
  <p>Cheers,</p>
  <p><LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
