<MessageContents @subject={{mail.subject}}>
  <p>Hello {{username}},</p>
  <p>
    Let me be the first to congratulate you on being elected as the new mayor of
    <LinkTo @route="settlement" @model={{mail.town.id}}>{{mail.town.name}}</LinkTo>.
    My name is <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo>
    and I have been royally appointed to serve as the chancellor of this {{mail.town.status}}.
  </p>
  <p>
    It is my duty to ensure the sensible management of tax revenues budgeted to this settlement.
    <LinkTo @route="settlement" @model={{mail.town.id}}>{{mail.town.name}}</LinkTo>
    is a {{mail.town.status}} with a population of {{number mail.town.population}}
    and a total bank balance of {{currency mail.town.finances.[0].balance}} at its disposal.
    The Crown expects you to use these funds to ensure the {{mail.town.status}}'s protection.
  </p>
  <p>
    I look forward to working closely with you over the coming seasons.
    If you wish to discuss any official matters you can find me in my office at the
    <LinkTo @route="hall">{{mail.town.status}} hall</LinkTo>.
  </p>
  <p>Yours faithfully,</p>
  <p>Chancellor <LinkTo @route="character" @model={{mail.sender.id}}>{{mail.sender.firstName}} {{mail.sender.lastName}}</LinkTo></p>
</MessageContents>
