<p>You arrive at the {{settlement.status}} of {{settlement.name}} on a {{weather-description settlement.region.weather date.hour}} {{hour-string date.hour}}.</p>
<p>Your new home is a {{building-reputation building.reputation}} property close to the {{settlement.status}} hall. It looks to be in {{building-condition building.health}} condition and has views of the {{lowercase settlement.tiles.0.terrain.name}}.</p>
<p>Once you're settled in, you notice a message in your inbox.</p>
