<div class="m-3">
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Class</th>
      <th scope="col">Value</th>
      <th scope="col">Ability</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.heroes as |hero|}}
      <tr>
        <td><LinkTo @route="character" @model={{hero.id}}>{{hero.firstName}} {{hero.lastName}}</LinkTo></td>
        <td><LinkTo @route="character" @model={{hero.id}}>{{calculate-age hero.dateOfBirth model.date}}</LinkTo></td>
        <td><LinkTo @route="character" @model={{hero.id}}>{{hero.class.name}}</LinkTo></td>
        <td><LinkTo @route="character" @model={{hero.id}}>{{currency (calculate-value hero.reputation hero.home.reputation hero.ability)}}</LinkTo></td>
        <td>{{star-rating hero.ability}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
{{outlet}}
