<div class="row m-4">
  <div class="col-md">
    <p>
      {{#if (is-selected settlement.status 'capital')}}
        {{settlement.name}} is the capital of the kingdom and its oldest standing city. {{situ}} <LinkTo @route="county" @model={{settlement.county.id}}>{{settlement.county.name}}</LinkTo> {{biome}}
      {{else}}
        {{settlement.name}} is {{indefinite-article (reputation-string settlement.reputation)}} {{reputation-string settlement.reputation}} {{settlement.status}} in <LinkTo @route="region" @model={{settlement.region.id}}>{{settlement.region.name}}</LinkTo>.
        It was founded in the year {{settlement.founded}} {{situ}} <LinkTo @route="county" @model={{settlement.county.id}}>{{settlement.county.name}}</LinkTo> {{biome}}.
        {{#if (is-selected settlement.id settlement.region.capital.id)}}
            It is the capital of <LinkTo @route="region" @model={{settlement.region.id}}>{{settlement.region.name}}</LinkTo> has {{fuzzy-number settlement.population}} inhabitants.
        {{else}}
          {{#if (is-selected settlement.id settlement.county.capital.id)}}
            It is the official county town for <LinkTo @route="county" @model={{settlement.county.id}}>{{settlement.county.name}}</LinkTo> and has {{fuzzy-number settlement.population}} inhabitants.
          {{else}}
            The settlement has {{fuzzy-number settlement.population}} inhabitants.
          {{/if}}
        {{/if}}
      {{/if}}
    </p>
    <p>
      The current mayor of {{settlement.name}} is {{character-description mayor (calculate-age mayor.dateOfBirth player.date)}} named <LinkTo @route="character" @model={{settlement.mayor.id}}>{{settlement.mayor.firstName}} {{settlement.mayor.lastName}}</LinkTo>.
    </p>
  </div>
</div>
