{{outlet}}
<div class="text-center">
  <pre class="green mt-5">
  ███▄ ▄███▓ ▄▄▄     ▓██   ██▓ ▒█████   ██▀███    ██████
▓██▒▀█▀ ██▒▒████▄    ▒██  ██▒▒██▒  ██▒▓██ ▒ ██▒▒██    ▒
▓██    ▓██░▒██  ▀█▄   ▒██ ██░▒██░  ██▒▓██ ░▄█ ▒░ ▓██▄
▒██    ▒██ ░██▄▄▄▄██  ░ ▐██▓░▒██   ██░▒██▀▀█▄    ▒   ██▒
▒██▒   ░██▒ ▓█   ▓██▒ ░ ██▒▓░░ ████▓▒░░██▓ ▒██▒▒██████▒▒
░ ▒░   ░  ░ ▒▒   ▓▒█░  ██▒▒▒ ░ ▒░▒░▒░ ░ ▒▓ ░▒▓░▒ ▒▓▒ ▒ ░
░  ░      ░  ▒   ▒▒ ░▓██ ░▒░   ░ ▒ ▒░   ░▒ ░ ▒░░ ░▒  ░ ░
░      ░     ░   ▒   ▒ ▒ ░░  ░ ░ ░ ▒    ░░   ░ ░  ░  ░
      ░         ░  ░░ ░         ░ ░     ░           ░
                    ░ ░
 █████   █    ██ ▓█████   ██████ ▄▄▄█████▓
▒██▓  ██▒ ██  ▓██▒▓█   ▀ ▒██    ▒ ▓  ██▒ ▓▒
▒██▒  ██░▓██  ▒██░▒███   ░ ▓██▄   ▒ ▓██░ ▒░
░██  █▀ ░▓▓█  ░██░▒▓█  ▄   ▒   ██▒░ ▓██▓ ░
░▒███▒█▄ ▒▒█████▓ ░▒████▒▒██████▒▒  ▒██▒ ░
░░ ▒▒░ ▒ ░▒▓▒ ▒ ▒ ░░ ▒░ ░▒ ▒▓▒ ▒ ░  ▒ ░░
░ ▒░  ░ ░░▒░ ░ ░  ░ ░  ░░ ░▒  ░ ░    ░
  ░   ░  ░░░ ░ ░    ░   ░  ░  ░    ░
   ░       ░        ░  ░      ░

  </pre>
  <p>Mayor's Quest is an RPG Management Sim set in a randomly generated fantasy world.</p>
  <p>It combines the thrill-a-minute gameplay of Football Manager with the sex appeal of medieval bureaucracy.</p>
  <p>This game is open source and published under the GPLv3 license. You can play with the code on <a href="https://gitlab.com/MayorBean/mayors-quest">GitLab</a>.</p>
  <p>Created by <a href="https://twitter.com/MayorBean">@MayorBean</a>.</p>
</div>
