<div class="d-flex {{if sidebar "toggled"}}" id="wrapper">
  <Sidebar @town={{player}} @mail={{mail}} @sidebar={{sidebar}}></Sidebar>
  <div id="page-content-wrapper">
    <Navbar @player={{player}} @sidebar={{sidebar}}></Navbar>
    {{outlet}}
  </div>

</div>
