<div class="p-3">
  <h1 class="text-center">{{building.name}}</h1>
  <hr>
  {{#if building.cutscene}}
    {{#let (concat "barracks/cutscenes/" building.cutscene.body) as |cutscene|}}
      <CutsceneModal @title={{building.cutscene.title}} @building={{building}}>
        {{partial cutscene}}
      </CutsceneModal>
    {{/let}}
  {{else}}
    {{outlet}}
    <h2>Heroes</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Class</th>
          <th scope="col">Level</th>
          <th scope="col">Value</th>
          <th scope="col">Ability</th>
        </tr>
      </thead>
      <tbody>
        {{#each heroes as |hero|}}
          <tr>
            <td><LinkTo @route="character" @model={{hero.id}}>{{hero.firstName}} {{hero.lastName}}</LinkTo></td>
            <td>{{calculate-age hero.dateOfBirth this.player.date}}</td>
            <td>{{hero.class.name}}</td>
            <td>{{hero.level}}</td>
            <td>{{currency (calculate-value hero.reputation hero.home.reputation hero.ability)}}</td>
            <td>{{star-rating hero.ability}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
