{{outlet}}

<div class="text-center">
  <h1>{{character.firstName}} {{character.lastName}}</h1>
  {{#if character.class.name}}
    <h2>level {{character.level}} {{character.class.name}}</h2>
  {{else}}
    <h2>{{calculate-age character.dateOfBirth player.date}} year old {{character.profession}}</h2>
  {{/if}}
</div>
<hr>
<div class="row text-nowrap">
  <div class="col-md">
    <ul>
      <label>General Information:</label>
      <li>gender: {{character.gender}}</li>
      <li>age: {{calculate-age character.dateOfBirth player.date}} years old</li>
      <li>personality: {{character-personality character.hiddenAttributes}}</li>
      <li>birthplace: <LinkTo @route="settlement" @model={{character.birthplace.id}}>{{character.birthplace.name}}</LinkTo></li>
      {{#if character.home}}<li>home: <LinkTo @route="settlement" @model={{character.home.id}}>{{character.home.name}}</LinkTo></li>{{/if}}
      <li>reputation: {{reputation-string character.reputation}}</li>
    </ul>
  </div>
  {{#if character.class.name}}
    {{#let (current-attributes character (calculate-age character.dateOfBirth player.date)) as | attributes |}}
      <div class="col-md pr-5">
        <ul>
          <label>Physical Attributes:</label>
          <ListItem @label="agility" @value={{attributes.agility}}/>
          <ListItem @label="balance" @value={{attributes.balance}}/>
          <ListItem @label="dexterity" @value={{attributes.dexterity}}/>
          <ListItem @label="reflexes" @value={{attributes.reflexes}}/>
          <ListItem @label="speed" @value={{attributes.speed}}/>
          <ListItem @label="stamina" @value={{attributes.stamina}}/>
          <ListItem @label="strength" @value={{attributes.strength}}/>
        </ul>
      </div>
      <div class="col-md pr-5">
        <ul>
          <label>Mental Attributes:</label>
          <ListItem @label="bravery" @value={{attributes.bravery}}/>
          <ListItem @label="charisma" @value={{attributes.charisma}}/>
          <ListItem @label="composure" @value={{attributes.composure}}/>
          <ListItem @label="creativity" @value={{attributes.creativity}}/>
          <ListItem @label="intelligence" @value={{attributes.intelligence}}/>
          <ListItem @label="leadership" @value={{attributes.leadership}}/>
          <ListItem @label="wisdom" @value={{attributes.wisdom}}/>
        </ul>
      </div>
    {{/let}}
  {{/if}}
</div>
