{{outlet}}
<div class="scroll m-3">
  <h1 class="text-center">The {{county.name}} {{capitalize county.biome.name}}</h1>
  <ul>
    <li>capital: <LinkTo @route="settlement" @model={{capital.id}}>{{capital.name}}</LinkTo></li>
    <li>biome: {{county.biome.name}}</li>
    <li>region: <LinkTo @route="region" @model={{region.id}}>{{region.name}}</LinkTo></li>
  </ul>
  <h2>Settlements</h2>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        <th scope="col">Status</th>
        <th scope="col">Finances</th>
        <th scope="col">Reputation</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedTowns as |town|}}
        <tr>
          <td><LinkTo @route="settlement" @model={{town.id}}>{{town.name}}</LinkTo></td>
          <td><LinkTo @route="settlement" @model={{town.id}}>{{number town.population}}</LinkTo></td>
          <td><LinkTo @route="settlement" @model={{town.id}}>{{town.status}}</LinkTo></td>
          <td><LinkTo @route="settlement" @model={{town.id}}>{{finances-description town.finances.0.balance}}</LinkTo></td>
          <td><LinkTo @route="settlement" @model={{town.id}}>{{reputation-string town.reputation}}</LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
