<div class="p-3">
  {{#unless hall.cutscene}}
    <PageHeader
      @route="hall"
      @navItems={{navItems}}
      @page={{hall}}
    />
    {{outlet}}
  {{/unless}}
  {{#if hall.cutscene}}
    {{#let (concat "hall/cutscenes/" hall.cutscene.body) as |cutscene|}}
      <CutsceneModal @building={{hall}} @weather={{region.weather}} @owner={{owner}} @title={{hall.cutscene.title}}>
        {{partial cutscene}}
      </CutsceneModal>
    {{/let}}
  {{/if}}
</div>
