<div class="p-3">
  {{#if building.cutscene.title}}
    {{#let (concat 'home/cutscenes/' building.cutscene.body) as |cutscene|}}
      <CutsceneModal @building={{building}} @weather={{region.weather}} @owner={{owner}} @title={{building.cutscene.title}}>
        {{partial cutscene}}
      </CutsceneModal>
    {{/let}}
  {{else}}
  <h1 class="text-center">{{building.name}}</h1>
  <hr/>
    <div class="row">
      <div class="col-sm">
        <h2>overview:</h2>
        <ul>
          <li>time: {{hour-string date.hour}}</li>
          <li>weather: {{region.weather}}</li>
          <li>inbox:
            {{#if mail}}
              <LinkTo @route="inbox" class="lightGreen">{{mail.length}} unread mail</LinkTo>
            {{else}}
              <span class="darkGreen">empty</span>
            {{/if}}
          </li>
        </ul>
      </div>
      {{#if settlement.project}}
        <CurrentProject @home={{settlement}} @project={{settlement.project}}/>
      {{/if}}
    </div>
  {{/if}}
</div>
