{{outlet}}
<div class="d-none">{{session.player}}</div> <!--Needs to be included to access session in controller.-->

{{#if loading}}
  <div class="dialogue">
    <h3>{{status}}</h3>
    <br>
    <p>(this may take a few minutes)</p>
  </div>

{{else}}
  <div class="scroll">
    {{#each sortedWorlds as |world|}}
      <a href="world/{{world.id}}" {{action "load" world}}>
        <article class={{if deleting "red"}}>
          <header>
            <h3>{{world.name}}</h3>
          </header>
          <section>
            <Time @date={{world.date}}></Time>
            <label>last played:</label> {{moment-from-now world.updatedAt [hideAffix=false]}}
          </section>
        </article>
      </a>
    {{else}}
      <section class="mt-5 text-center">
        <h3>No worlds found...</h3>
      </section>
    {{/each}}
  </div>
  <div class="row fixed-bottom m-4">
    <div class="col-sm text-center">
      <button {{action "create"}} class="btn">new world</button>
      <button {{action "delete"}} class="btn warning">delete</button>
    </div>
  </div>
{{/if}}
