{{outlet}}
<form class="mt-5" {{action "save" username password confirmPassword on="submit"}}>
  {{input id="username" placeholder="username" value=username}}
  {{input id="password" placeholder="password" type="password" value=password}}
  {{input id="confirmPassword" placeholder="confirm password" type="password" value=confirmPassword}}
  {{#if errorMessage}}
    <div class="alert alert-danger m-3">{{errorMessage.message}}</div>
  {{/if}}
  <p><button class="btn mt-3" type="submit">create</button></p>
</form>
