{{outlet}}
<div class="m-3">
    <h1 class="text-center">{{building.name}}</h1>
    <hr>
    {{#if building.cutscene}}
      {{#let (concat 'tavern/cutscenes/' building.cutscene.body) as |cutscene|}}
        <CutsceneModal @building={{building}} @title={{building.cutscene.title}}>
          {{partial cutscene}}
        </CutsceneModal>
      {{/let}}
    {{else}}
    <h2>Patrons</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Class</th>
          <th scope="col">Level</th>
          <th scope="col">Reputation</th>
          <th scope="col">Ability</th>
        </tr>
      </thead>
      <tbody>
        {{#each adventurers as |adventurer|}}
          <tr>
            <td><LinkTo @route="character" @model={{adventurer.id}}>{{adventurer.firstName}} {{adventurer.lastName}}</LinkTo></td>
            <td><LinkTo @route="character" @model={{adventurer.id}}>{{calculate-age adventurer.dateOfBirth player.date}}</LinkTo></td>
            <td><LinkTo @route="character" @model={{adventurer.id}}>{{adventurer.class.name}}</LinkTo></td>
            <td><LinkTo @route="character" @model={{adventurer.id}}>{{adventurer.level}}</LinkTo></td>
            <td><LinkTo @route="character" @model={{adventurer.id}}>{{reputation-string adventurer.reputation}}</LinkTo></td>
            <td>{{star-rating adventurer.ability}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
